<!-- pass current user id from rails to backbone -->
<script>
     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
</script>


<div id="main"></div>



<!-- MY Projects Page Template-->
<script id="my-projects-page" type="text/template">

<h2 class ="page-heading">My Projects</h2>


<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ projects.each(function (project) { }}
  <a  class="project-link" href="/#projects/{{= project.id }}">
    <div class="col-sm-3 well project-display">
        <div class="project-title">{{= project.escape('title') }}</div>
        <hr>
        <div class="project-organisation">{{= project.escape('organisation') }}</div>
        <hr>
        <div class="project-description">{{= project.escape('description') }}</div>
    </div>
    </a>
  {{ }); }}
</div>
</div>

</script>

<!-- <h3>Create New Board</h3>

<div class="create_board">
  <form class="create_board">
    <input type="text"
           class="board_name"
           name="board[name]"
           placeholder="Board Name ..." />
    <input type="text"
           class="board_description"
           name="board[description]"
           placeholder="Board Description ..." />
    <input type="submit" value="Create Board" />
  </form>
</div> -->
