<!-- pass current user id from rails to backbone -->
<script>
     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
</script>


<div id="main"></div>



<!-- MY Projects Page Template-->
<script id="my-projects-page" type="text/template">

<h2 class ="page-heading">My Projects</h2>


<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ projects.each(function (project) { }}
  <a  class="project-link" href="/#projects/{{= project.id }}">
    <div class="col-sm-3 well project-display">
        <div class="project-title">{{= project.escape('title') }}</div>
        <hr>
        <div class="project-organisation">{{= project.escape('organisation') }}</div>
        <hr>
        <div class="project-description">{{= project.escape('description') }}</div>
    </div>
    </a>
  {{ }); }}
</div>
</div>

</script>


<script id="project-page" type="text/template">
    <h2>{{= project.escape('title')}}</h2>
  <div class="span11" style="overflow: auto">
        <div class="my-tasklists row-fluid lists"></div>
  </div>
</script>



<script id="individual-list" type="text/template">
  <div class="task-list col-sm-3 well id="list{{=taskList.id}}" ">
    <div class="list-name">{{=taskList.escape('title')}}</div>

    <div class="task"></div>

    <div class="add-task well">
      <form class="form-control " id="list{{=taskList.id}}">
        <input type="text"
           class="task-title"
           name="task[title]"
           placeholder="Add a task ..." />
        <button class="add-task-button" class="btn btn-primary btn-xs"> + </button>
    </form>
  </div>
  </div>
</script>



<script id="individual-task" type="text/template">
  <div class="well id="task{{=task.id}}" ">
    <div class="list-name">{{=task.escape('title')}}</div>
  </div>
</script>















 <!-- % useless stuff -->
<script id="project-page_test" type="text/template">



//scrap

<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ tasklists.each(function (list) { }}
    <div class="col-sm-3 well project-display">
        <div class="list-title">{{= list.escape('title') }}</div>
    </div>

  {{ }); }}
</div>
</div>




<div class="cards"
     id="cards_list_{{= cards.list.id }}"
     data-list-id="{{= cards.list.id }}">
  {{ cards.each(function(card) { }}
    <div class="card"
         id="card_{{= card.id }}"
         data-card-id="{{= card.id }}">

      <button class="archive_card entypo-cancel"
              data-card-id="{{= card.id }}"></button>

      <span class="card_title">
        {{= card.escape('title') }}
      </span>

      <footer>
        <p class="comments_count">
        {{ if (card.get('comments_count') > 0) { }}
          <span class="entypo-comment"></span>
          {{= card.escape('comments_count') }}
        {{ } }}
        </p>

        <div class="assignee">
        {{ assignee = card.get('assignee'); }}
        {{ if (assignee) { }}
            <img src="{{= assignee.escape('gravatar_url') }}" />
        {{ } }}
        </div>
      </footer>

    </div>
  {{ }); }}
</div>

</script>
