<!-- pass current user id from rails to backbone -->
<script>
     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
</script>


<div id="main">


  <div="app-jumbotron">
    <h1 class="title">Simple</h1>
    <h4 class="sub-title">Project Management</h4>
  </div>


</div>






<!-- MY Projects Page Template-->
<script id="my-projects-page" type="text/template">

<h2 class ="page-heading">{{= app.user.attributes.user.name}}'s Projects</h2>


<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ projects.each(function (project) { }}
  <a  class="project-link" href="/#projects/{{= project.id }}">
    <div class="col-sm-3 well project-display">
        <div class="project-title">{{= project.escape('title') }}</div>
        <hr>
        <div class="project-organisation">{{= project.escape('organisation') }}</div>
    </div>
    </a>
  {{ }); }}
</div>
</div>

<div class="add-project-div">
  <!-- <button class="add-project-btn btn btn-default btn-lg">Add New Project</button> -->
  <%= link_to "Add New Project", project_new_path, class: "add-project-btn btn btn-default btn-lg" %>
</div>

</script>


<script id="project-page" type="text/template">
    <h2 class="project-title">{{= project.escape('title')}}</h2>
    <div class="well user-list"></div>
    <div class="list-of-tasklist" id = "project{{=project.id}}">

        <span class="my-tasklists list"></span>


      <span class=" task-list add-list well">
          <form class="add-task-list form-control " id="tasklist{{=project.id}}">
            <input type="text"
              style="border:none"
               class="task-title"
               id="add-list"
               placeholder="Add a list" />
            <input type="submit" value=" + " data-project-id="{{=project.id}}" class="add-list-button" class="btn btn-primary btn-xs"/>
        </form>
      </span>
    </div>
</script>



<script id="individual-list" type="text/template">
    <div class="list-name">{{=taskList.escape('title')}}</div>

    <div class="task"></div>




    <div class="add-task well">
      <form class="add-task form-control " id="list{{=taskList.id}}">
        <input type="text"
        style="border:none"
           class="task-title"
           id="add-task"
           placeholder="Add a task ..." />
        <input type="submit" value=" + " data-tasklist-id="{{=taskList.id}}" class="add-task-button" class="btn btn-primary btn-xs"/>
    </form>
    </div>



</script>



<script id="individual-task" type="text/template">
  {{ tasks.each( function (task){ }}
  <div class="well dropzone" id="task-{{=task.id}}">
    <button class="delete"
              id="{{= task.id}}">X</button>
    <div class="task-name">{{=task.escape('title')}}</div>
    <div align="right" id="dropzone"> <span class="task-alias">{{=task.escape('alias')}}</span> </div>
  </div>
  {{ }); }}

</script>



<script id="member-list" type="text/template">
  <div>
    <ul class="users">
      {{ users.each(function(user) {  }}
        <li class="user " id="user-{{=user.id}}" alias={{=user.get('alias')}}>
          <span class="user-alias" >
            <span class="user-alias-span" >{{= user.get('alias')}}</span>
          </span>
        </li>
      {{ }); }}
    </ul>
  </div>
  <div class="add-member-form">
    <form class="add-user">
    <input type="text"
          id="member-email"
         name="user_id"
         placeholder="Enter Email Address" />
  <input type="submit" value="Add Member" />
</form>
</div>
</script>


<script id="task-modal" type="text/template">
 <div align="center" class="modal-sub-title">This card belongs to LIST NAME HERE</div>

 <div align="center" class="modal-task-description"> <span>Task Description: </span> {{=task.escape('description') }} </div>

<p align="center" class="modal-task-owner"> This task belongs to:<span class="user-alias-span"> {{= task.escape('alias') }} </span></p>

<div class="well">
  <form id="add-comment" class="form-group">
    <textarea id="comment" class="form-control modal-comment-form"></textarea>
    <button type="submit">Post</button>
  </form>
</div>
<ul class="modal-comment-list">
  {{ comments.each(function(comment){ }}
        <li class="task-comment"><span class="user-alias-span">{{=comment.escape('user_alias')}} </span>{{=comment.escape('message')}}</li>
 {{ }); }}
</ul>
</script>
