<!-- pass current user id from rails to backbone -->
<script>
     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
</script>


<div id="main"></div>



<!-- MY Projects Page Template-->
<script id="my-projects-page" type="text/template">

<h2 class ="page-heading">{{= app.user.attributes.user.name}}'s Projects</h2>


<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ projects.each(function (project) { }}
  <a  class="project-link" href="/#projects/{{= project.id }}">
    <div class="col-sm-3 well project-display">
        <div class="project-title">{{= project.escape('title') }}</div>
        <hr>
        <div class="project-organisation">{{= project.escape('organisation') }}</div>
        <hr>
        <div class="project-description">{{= project.escape('description') }}</div>
    </div>
    </a>
  {{ }); }}
</div>
</div>

<div>
  <!-- <button class="add-project-btn btn btn-default btn-lg">Add New Project</button> -->
  <%= link_to "Add New Project", project_new_path, class: "add-project-btn btn btn-default btn-lg" %>
</div>

</script>


<script id="project-page" type="text/template">
    <h2>{{= project.escape('title')}}</h2>

    <div class="list-of-tasklist" id = "project{{=project.id}}">
        <span class="my-tasklists list"></span>


      <span class=" task-list add-list well">
          <form class="add-task-list form-control " id="tasklist{{=project.id}}">
            <input type="text"
              style="border:none"
               class="task-title"
               id="add-list"
               placeholder="Add a list" />
            <input type="submit" value=" + " data-project-id="{{=project.id}}" class="add-list-button" class="btn btn-primary btn-xs"/>
        </form>
      </span>
    </div>
</script>



<script id="individual-list" type="text/template">
    <div class="list-name">{{=taskList.escape('title')}}</div>

    <div class="task"></div>

    <div class="add-task well">
      <form class="add-task form-control " id="list{{=taskList.id}}">
        <input type="text"
        style="border:none"
           class="task-title"
           id="add-task"
           placeholder="Add a task ..." />
        <input type="submit" value=" + " data-tasklist-id="{{=taskList.id}}" class="add-task-button" class="btn btn-primary btn-xs"/>
    </form>
  </div>

</script>



<script id="individual-task" type="text/template">
  <div class="well" id="task-{{=task.id}}">
    <div class="list-name">{{=task.escape('title')}}</div>
    <div align="right"> <span class="task-alias">{{=task.escape('alias')}}</span> </div>
  </div>

</script>
