<!-- pass current user id from rails to backbone -->
<script>
     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
      console.log("USER FROM HOME",app.current_user);
</script>


<div id="main">


  <div="app-jumbotron">
    <h1 class="title wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">Simple</h1>
    <h4 class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="0.8s">Project Management</h4>
    <div class="app-description">
      <p class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s" align="center">Its is simple on the surface, but it has everything you need to get stuff done. </p>
      <p class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="2s" align="center"> Post comments for instant feedback and discussion.</p>
      <p class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="2.5s" align="center" >Drag and drop task between lists to show progress. Swap list position. </p>
      <p class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="3s" align="center"> Drag people to task to asssign a task to them.</p>
      <p class="sub-title wow fadeIn" data-wow-duration="3s" data-wow-delay="3.5s" align="center"> Add a new person to the project by simply entering their email</p>
    </div>
<div class="row wow fadeIn github-links" data-wow-duration="4s" data-wow-delay="4s">
  <div class="col-xs-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="4.5s" align="right">
    <a class="github-button" href="https://github.com/prazwal/backbone-rails-project-management" data-icon="octicon-star" data-style="mega" data-count-href="/prazwal/backbone-rails-project-management/stargazers" data-count-api="/repos/prazwal/backbone-rails-project-management#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star prazwal/backbone-rails-project-management on GitHub">Star</a>
  </div>
  <div class="col-xs-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="4s" align="center">
    <a class="github-button" href="https://github.com/prazwal/backbone-rails-project-management/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/prazwal/backbone-rails-project-management/network" data-count-api="/repos/prazwal/backbone-rails-project-management#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork prazwal/backbone-rails-project-management on GitHub">Fork</a>
  </div>
  <div class="col-xs-4 wow fadeIn" data-wow-duration="4s" data-wow-delay="4.5s" align="left">
    <a class="github-button" href="https://github.com/prazwal/backbone-rails-project-management/issues" data-icon="octicon-issue-opened" data-style="mega" aria-label="Issue prazwal/backbone-rails-project-management on GitHub">Issue</a>
  </div>
</div>
  </div>

</div>






<!-- MY Projects Page Template-->
<script id="my-projects-page" type="text/template">

<h2 class ="page-heading">{{= app.user.attributes.user.name}}'s Projects</h2>


<div class="my-projects" style="overflow: auto">
  <div class="row-fluid">
  {{ projects.each(function (project) { }}
  <a  class="project-link" href="/#projects/{{= project.id }}">
    <div class="col-sm-3 well project-display">
        <div class="project-title">{{= project.escape('title') }}</div>
        <hr>
        <div class="project-organisation">{{= project.escape('organisation') }}</div>
    </div>
    </a>
  {{ }); }}
</div>
</div>

<div class="add-project-div">
  <!-- <button class="add-project-btn btn btn-default btn-lg">Add New Project</button> -->

</div>

</script>


<script id="project-page" type="text/template">
    <h2 class="project-title">{{= project.escape('title')}}</h2>
    <div class="well user-list"></div>
    <div class="list-of-tasklist" id = "project{{=project.id}}">

        <span class="my-tasklists lists"></span>


      <span class=" task-list add-list well">
          <form class="add-task-list form-control " id="tasklist{{=project.id}}">
            <input type="text"
              style="border:none"
               class="task-title"
               id="add-list"
               placeholder="Add a list" />
            <input type="submit" value=" + " data-project-id="{{=project.id}}" class="add-list-button" class="btn btn-primary btn-xs"/>
        </form>
      </span>
    </div>
</script>



<script id="individual-list" type="text/template">
  <button class="delete del-list"
            id="{{= taskList.id}}">X</button>
    <div class="list-name">{{=taskList.escape('title')}}</div>

    <div class="task"></div>




    <div class="add-task well">
      <form class="add-task form-control " id="list{{=taskList.id}}">
        <input type="text"
        style="border:none"
           class="task-title"
           id="add-task"
           placeholder="Add a task ..." />
        <input type="submit" value=" + " data-tasklist-id="{{=taskList.id}}" class="add-task-button" class="btn btn-primary btn-xs"/>
    </form>
    </div>



</script>



<script id="individual-task" type="text/template">
  {{ tasks.each( function (task){ }}
  <div class="well dropzone" id="task-{{=task.id}}">
    <button class="delete del-task"
              id="{{= task.id}}">X</button>
    <div class="task-name">{{=task.escape('title')}}</div>
    <div align="right" id="dropzone"> <span class="task-alias">{{=task.escape('alias')}}</span> </div>
  </div>
  {{ }); }}

</script>



<script id="member-list" type="text/template">
  <div>
    <ul class="users">
      {{ users.each(function(user) {  }}
        <li class="user " id="user-{{=user.id}}" alias={{=user.get('alias')}}>
          <span class="user-alias" >
            <span class="user-alias-span" >{{= user.get('alias')}}</span>
          </span>
        </li>
      {{ }); }}
    </ul>
  </div>
  <div class="add-member-form">
    <form class="add-user">
    <input type="text"
          id="member-email"
         name="user_id"
         placeholder="Enter Email Address" />
  <input type="submit" value="Add Member" />
</form>
</div>
</script>


<script id="task-modal" type="text/template">
 <div align="center" class="modal-sub-title">This card belongs to LIST NAME HERE</div>

 <div align="center" class="modal-task-description"> <span>Task Description: </span> {{=task.escape('description') }} </div>

<p align="center" class="modal-task-owner"> This task belongs to:<span class="user-alias-span"> {{= task.escape('alias') }} </span></p>

<div class="well">
  <form id="add-comment" class="form-group">
    <textarea id="comment" class="form-control modal-comment-form"></textarea>
    <button class="post-btn btn btn-primary" type="submit">Post</button>
  </form>
</div>
<ul class="modal-comment-list">
  {{ comments.each(function(comment){ }}
        <li class="task-comment"><span class="user-alias-span">{{=comment.escape('user_alias')}} </span>{{=comment.escape('message')}}</li>
 {{ }); }}
</ul>
</script>
