#logo{
  color:#ffffff;
}


body{
  background-color: #1f8dd6;
}

//fluid horizontal slide
.row-fluid{
  white-space: nowrap;
}

.row-fluid .col-sm-3{
  display: inline-block;
}


input:focus {
  outline: none;
}

//project display page

.project-display:hover{
  background-color:#FFFFFF;
}
.project-display{

  margin:10px;
  min-height: 250px;
  background-color:#dcdcdc;
}

.project-organisation{
  white-space: initial;
  font-size:0.7em;
  font-weight: bold;
}

.project-title{
  white-space: initial;
}


.project-description{
  white-space: initial;
  font-size:0.6em;
}

.list-of-tasklist{
  white-space: nowrap; /* important */
  overflow: auto;
}

 // .list-of-tasks{
 //   float:left;
 //   display: inline-block;
 // }

 .task{
   min-height: 40px;
 }


.task-list{
    vertical-align:top;
    display: inline-block;
    width:300px;
    margin:10px;
    color: #2e3d50;
    font:2em;
    font-weight: bold;
    text-align:center;
}

.task-alias{
  background-color: #dcdcdc;
  padding: 3px;
}

ul{
  list-style: none;
}

ul.users li{
  display:inline;
}

.user-alias-span{
  background-color: #757575;
  padding: 0.6em;
  margin: 0.6em;
}

.add-member-form{
  text-align: center;
}







// .my-tasklists{
//   display:block;
// }
