#logo{
  color:#ffffff;
}


body{
  background-color: #2e3d50;
  //font-family: 'Open Sans', sans-serif;
}



//fluid horizontal slide
.row-fluid{
  white-space: nowrap;
}

.row-fluid .col-sm-3{
  display: inline-block;
}


input:focus {
  outline: none;
}

//project display page

.project-display:hover{
  background-color:#FFFFFF;
}
.project-display{

  margin:10px;
  min-height: 150px;
  background-color:rgba(245, 245, 245, 0.7);
}

.project-organisation{
  white-space: initial;
  font-size:0.7em;
  font-weight: bold;
}

.project-title{
  white-space: initial;
}


.project-description{
  white-space: initial;
  font-size:0.6em;
}

.list-of-tasklist{
  white-space: nowrap; /* important */
  overflow: auto;
}

 // .list-of-tasks{
 //   float:left;
 //   display: inline-block;
 // }

 .task{
   min-height: 40px;
 }


.task-list{
    vertical-align:top;
    display: inline-block;
    width:300px;
    margin:10px;
    color: #2e3d50;
    font:2em;
    font-weight: bold;
    text-align:center;
}

.task-alias{
  background-color: #2e3d50;
  padding: 0.6em;
  margin: 0.6em;
  color:#aeb3ba;
}

ul{
  list-style: none;
}

ul.users li{
  display:inline;
}

.user-alias-span{
  background-color: #2e3d50;
  padding: 0.6em;
  margin: 0.6em;
  color:#aeb3ba;
}

.add-member-form{
  text-align: center;
}



.add-member-form{
  color:#000000;
}

.delete{
 font-size: 0.5em;
 color: red;
 margin-left: 97%;

}

.dropzone{
  height:110px;
}

.task-placeholder{
  height:110px;
  width:260px;
  background-color: #2e3d50;
  border-radius: 5px;
  margin-bottom: 10px;

}
input, textarea {
  background-color : rgba(245, 245, 245, 0.7);
  border:none;
}

// .my-tasklists{
//   display:block;
// }

.project-title, .page-heading{
  text-align: center;
  font-weight: bold;
  padding-bottom: 60px;
}

.add-project-div{
  text-align: center;
}

.modal-task-owner{
  padding:10px;
}

.task-comment{
  padding:15px;
}
