$themeColor: #4a287a;



#logo{
  color:#ffffff;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 5px;
}


body{
  // background-color: #2e3d50;

  background: #6441A5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6441A5 , #2a0845); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6441A5 , #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  //font-family: 'Open Sans', sans-serif;
}



//fluid horizontal slide
.row-fluid{
  white-space: nowrap;
}

.row-fluid .col-sm-3{
  display: inline-block;
}


input:focus {
  outline: none;
}

//project display page

.project-display:hover{
  background-color:#FFFFFF;
}
.project-display{

  margin:10px;
  min-height: 150px;
  background-color:rgba(245, 245, 245, 0.7);
}

.project-organisation{
  white-space: initial;
  font-size:0.7em;
  font-weight: bold;
}

.project-title{
  white-space: initial;
}


.project-description{
  white-space: initial;
  font-size:0.6em;
}

.list-of-tasklist{
  white-space: nowrap; /* important */
  overflow: auto;
}

 // .list-of-tasks{
 //   float:left;
 //   display: inline-block;
 // }

 .task{
   min-height: 40px;
 }


.task-list{
    vertical-align:top;
    display: inline-block;
    width:300px;
    margin:10px;
    color: #2e3d50;
    font:2em;
    font-weight: bold;
    text-align:center;
}

.task-alias{
  background-color: $themeColor;
  padding: 0.6em;
  margin: 0.6em;
  color:#aeb3ba;
}

ul{
  list-style: none;
}

ul.users li{
  display:inline;
}

.user-alias-span{
  background-color: $themeColor;
  padding: 0.6em;
  margin: 0.6em;
  color:#aeb3ba;
}

.add-member-form{
  text-align: center;
}



.add-member-form{
  color:#000000;
}

.delete{
 font-size: 0.5em;
 color: $themeColor;
 margin-left: 97%;
 border: none;
 background-color: rgba(245, 245, 245, 0.3) !important;
}

.dropzone{
  height:110px;
}

.task-placeholder{
  height:110px;
  width:260px;
  background-color: $themeColor;
  border-radius: 5px;
  margin-bottom: 10px;

}
input, textarea {
  background-color : rgba(245, 245, 245, 0.7);
  border:none;
}

// .my-tasklists{
//   display:block;
// }

.project-title, .page-heading{
  text-align: center;
  font-weight: bold;
  padding-bottom: 60px;
}

.add-project-div{
  text-align: center;
}

.modal-task-owner{
  padding:10px;
}

.task-comment{
  padding:15px;
}

.app-jumbotron{
  margin: 280 auto;

}

h1.title{
  text-align: center;
  font-size: 11em;
}
h4.sub-title{
  text-align: center;
  font-size: 3em;
}

// .tasklist-placeholder{
//   width:300px;
//   min-height: 300px;
//   background-color: #263238;
// }

.list-name{
  padding-bottom: 15px;
}

.task-name{
  text-align: left;
}

.g-signin2{
  margin-top: 8px;
}


.list-of-tasklist::-webkit-scrollbar {
    width: 1em;
}

.list-of-tasklist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.list-of-tasklist::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  outline: 1px solid rgba(255,255,255,0.5);
}
